/* Header */
.masthead {
  padding-top: 8px;
  padding-bottom: 7px;
}
/* Main */
.nav-item.active > a:before {
  background-image: none;
  width: 0;
  height: 0;
  border-top: 17px solid rgba(140, 160, 166, 0);
  border-bottom: 17px solid rgba(140, 160, 166, 0);
  border-left: 6px solid #8ca0a6;
}
.site-footer .attribution {
  float: right;
}
.site-footer .attribution strong {
  display: none;
}
.site-footer .attribution .ckan-footer-logo {
  float: left;
  background-image: url(http://assets.okfn.org/p/ckan/img/powered-by.png);
  width: 149px;
  height: 48px;
}
.site-footer .lang-select {
  clear: left;
  padding-top: 10px;
}
div[role="main"]:before {
  content: ' ';
  position: absolute;
  height: 7px;
  width: 100%;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

  top: 0;
}
div.hero[role="main"]:before {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

}
/* Banner */
.hero {
  padding: 0;
}
.hero > .container {
  padding-top: 20px;
}
.hero .hero-primary .module-content {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.hero .module-dark .module-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.hero .module-content h3 {
  font-size: 18px;
}
/* Tags */
.hero .tags ul,
.tags ul.tag-list {
  list-style: none;
}
.hero .tags ul {
  margin: 0;
  padding: 0;
}
.tags ul.tag-list {
  padding: 15px;
}
.hero .tags ul li,
.hero .tags ul a.tag,
.tags ul.tag-list li,
.tags ul.tag-list a.tag {
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
}
.hero .tags ul li,
.hero .tags ul a.tag {
  float: left;
}
.hero .tags ul a.tag,
.tags ul.tag-list a.tag {
  margin-left: 10px;
  padding: 0 10px 0 12px;
  background: #005D7A;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 4px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .tags ul li:first-of-type a.tag,
.tags ul.tag-list li:first-of-type a.tag {
  margin-left: 0;
}
.hero .tags ul a.tag:before,
.tags ul.tag-list a.tag:before {
  content: "";
  float: right;
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-color: #005d7a;
  /* Fallback for IE8 */

  border-color: rgba(0, 93, 122, 0);
  border-left-color: #005d7a;
  border-style: solid;
  border-width: 12px 0 12px 12px;
}
.hero .tags ul a.tag:after,
.tags ul.tag-list a.tag:after {
  content: "";
  position: absolute;
  top: 11px;
  right: -1px;
  float: right;
  width: 3px;
  height: 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}
.hero .tags ul a.tag:hover,
.tags ul.tag-list a.tag:hover {
  background: #003647;
}
.hero .tags ul a.tag:hover:before,
.tags ul.tag-list a.tag:hover:before {
  border-color: #003647;
  /* Fallback for IE8 */

  border-color: rgba(0, 54, 71, 0);
  border-left-color: #003647;
}
.hero .tags ul li:before,
.tags ul.tag-list li:before {
  content: "";
  float: right;
  position: absolute;
  width: 0;
  height: 0;
  border-color: #005d7a;
  /* Fallback for IE8 */

  border-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  /* shadow colour */

  border-style: solid;
  border-width: 12px 0 12px 12px;
  right: -3px;
  top: 5px;
}
.tags ul.tag-list li:before {
  right: -13px;
  top: 0;
}
.main.homepage .module:first-child .module-heading {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
a,
.btn-link {
  color: #012246;
}
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  color: #000a14;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #000a14;
  background-image: -moz-linear-gradient(top, #012246, #000a14);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#012246), to(#000a14));
  background-image: -webkit-linear-gradient(top, #012246, #000a14);
  background-image: -o-linear-gradient(top, #012246, #000a14);
  background-image: linear-gradient(to bottom, #012246, #000a14);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff187794', endColorstr='#ff14657e', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #000a14;
  background-image: -moz-linear-gradient(top, #012246, #000a14);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#012246), to(#000a14));
  background-image: -webkit-linear-gradient(top, #012246, #000a14);
  background-image: -o-linear-gradient(top, #012246, #000a14);
  background-image: linear-gradient(to bottom, #012246, #000a14);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff187794', endColorstr='#ff14657e', GradientType=0);
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background-color: #012246;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #012246;
}
.nav .dropdown-toggle .caret {
  border-top-color: #012246;
  border-bottom-color: #012246;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #012246;
  -webkit-box-shadow: 0 1px 4px rgba(2, 58, 120, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(2, 58, 120, 0.25);
  box-shadow: 0 1px 4px rgba(2, 58, 120, 0.25);
}
.editor .editor-info-block a {
  color: #012246;
}
.popover-followee .nav li a i {
  background-color: #012246;
  -webkit-box-shadow: inset 0 1px 2 x rgba(2, 58, 120, 0.2);
  -moz-box-shadow: inset 0 1px 2 x rgba(2, 58, 120, 0.2);
  box-shadow: inset 0 1px 2 x rgba(2, 58, 120, 0.2);
}
.popover-followee .nav li.active a i {
  color: #012246;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #023a78;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(2, 58, 120, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(2, 58, 120, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(2, 58, 120, 0.4);
}
/* Buttons */
.btn-primary {
  background-color: #022e5f;
  background-image: -moz-linear-gradient(top, #023a78, #022e5f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#023a78), to(#022e5f));
  background-image: -webkit-linear-gradient(top, #023a78, #022e5f);
  background-image: -o-linear-gradient(top, #023a78, #022e5f);
  background-image: linear-gradient(to bottom, #023a78, #022e5f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@primary', endColorstr='darken(@primary, 5%)', GradientType=0);
  border-color: #022e5f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #022e5f;
}
.btn-info {
  background-color: #022e5f;
  background-image: -moz-linear-gradient(top, #023a78, #022e5f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#023a78), to(#022e5f));
  background-image: -webkit-linear-gradient(top, #023a78, #022e5f);
  background-image: -o-linear-gradient(top, #023a78, #022e5f);
  background-image: linear-gradient(to bottom, #023a78, #022e5f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@primary', endColorstr='darken(@primary, 5%)', GradientType=0);
  border-color: #022e5f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #022e5f;
}
.btn-success {
  background-color: #63a21a;
  background-image: -moz-linear-gradient(top, #70b81e, #63a21a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70b81e), to(#63a21a));
  background-image: -webkit-linear-gradient(top, #70b81e, #63a21a);
  background-image: -o-linear-gradient(top, #70b81e, #63a21a);
  background-image: linear-gradient(to bottom, #70b81e, #63a21a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@success', endColorstr='darken(@success, 5%)', GradientType=0);
  border-color: #63a21a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #63a21a;
}
.btn-warning {
  background-color: #bca002;
  background-image: -moz-linear-gradient(top, #d5b502, #bca002);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d5b502), to(#bca002));
  background-image: -webkit-linear-gradient(top, #d5b502, #bca002);
  background-image: -o-linear-gradient(top, #d5b502, #bca002);
  background-image: linear-gradient(to bottom, #d5b502, #bca002);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@warning', endColorstr='darken(@warning, 5%)', GradientType=0);
  border-color: #bca002;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #bca002;
}
.btn-danger {
  background-color: #a21a1f;
  background-image: -moz-linear-gradient(top, #b81e23, #a21a1f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b81e23), to(#a21a1f));
  background-image: -webkit-linear-gradient(top, #b81e23, #a21a1f);
  background-image: -o-linear-gradient(top, #b81e23, #a21a1f);
  background-image: linear-gradient(to bottom, #b81e23, #a21a1f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@danger', endColorstr='darken(@danger, 5%)', GradientType=0);
  border-color: #a21a1f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #a21a1f;
}
/* Header */
.account-masthead {
  background-color: #023a78;
  background-image: none;
}
.account-masthead .account ul li {
  border-left-color: primary(#ffffff, 30%);
}
.account-masthead .account .notifications a span {
  background-color: primary(#ffffff, 30%);
}
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #012246;
}
.masthead {
  background-color: #ffffff;
  background-image: none;
}
.masthead a {
  color: #023a78;
}
.masthead .navigation .nav-pills li a:hover {
  background-color: #f2f2f2;
  color: #023a78;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #023a78;
}
.masthead .navigation .nav-pills li.active a:hover {
  color: #ffffff;
}
.masthead input[type="text"] {
  border-color: #cccccc;
}
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(2, 58, 120, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(2, 58, 120, 0.7);
}
.masthead .site-search input {
  padding: 5px 10px;
}
/* Main */
[role=main],
.main {
  background-image: none;
  background-color: #f0f0f0;
}
.box {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.pill {
  background-color: #023a78;
}
.pill a:hover {
  color: #FFF;
}
.nav-item.active > a,
.nav-item.active > a:hover {
  background-color: #023a78;
}
.nav-item.active > a:before {
  border-left-color: #023a78;
}
.wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Footer */
.site-footer,
body {
  background-color: #ffffff;
  background-image: none;
}
.site-footer .navigation .nav-pills li a:hover,
.site-footer .navigation .nav-pills li.active a {
  background-color: #ffffff;
}
.site-footer input[type="text"] {
  border-color: #e6e6e6;
}
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(2, 58, 120, 0.6);
}
.site-footer a {
  color: rgba(2, 58, 120, 0.6);
}
.attribution small {
  color: rgba(2, 58, 120, 0.6);
}
/* Banner */
.banner {
  background-color: #023a78;
}
.hero {
  background-color: #FFF;
  background-image: url(../images/background-tile.jpg);
  background-repeat: repeat-x;
  background-position: center -8px;
  border-bottom: solid 9px #FFF;
}
.hero .hero-primary,
.hero .hero-secondary .module-dark .module-content {
  box-shadow: 0px -7px 14px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -7px 14px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -7px 14px 4px rgba(0, 0, 0, 0.1);
}
.hero .hero-primary .module-content {
  border: none;
}
.hero .hero-secondary .module-dark {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}
.hero .module-dark .module-content {
  background-color: #ffffff;
  color: #023a78;
}
.hero .search-giant input {
  border-color: #cccccc;
}
.hero .search-giant input:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}
/* Tags */
.hero .tags {
  background-color: transparent;
}
.hero .tags h3 {
  text-shadow: 0px 0px 2px #000;
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
.hero .tags ul a.tag,
.tags ul.tag-list a.tag {
  background: #FFF;
  color: #023a78;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.hero .tags ul a.tag:before,
.tags ul.tag-list a.tag:before {
  border-color: #ffffff;
  /* Fallback for IE8 */

  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
}
.hero .tags ul a.tag:after {
  background-color: #7AB6D8;
  /* banner colour */

}
.tags ul.tag-list a.tag:after {
  background-color: #F5F5F5;
  /* well colour */

}
.hero .tags ul a.tag:hover,
.tags ul.tag-list a.tag:hover {
  background: #023a78;
  color: #ffffff;
}
.hero .tags ul a.tag:hover:before,
.tags ul.tag-list a.tag:hover:before {
  border-color: #023a78;
  /* Fallback for IE8 */

  border-color: rgba(2, 58, 120, 0);
  border-left-color: #023a78;
}
.hero .tags ul li:before,
.tags ul.tag-list li:before {
  border-color: #ffffff;
  /* Fallback for IE8 */

  border-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0.1);
  /* shadow colour */

}
/* homepage module heading */
.homepage .module-heading {
  background-color: transparent;
}
/* media images */
.media-image {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.media-image:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
