{% ckan_extends %}
{% block footer_nav %}
<ul class="unstyled">
  {% block footer_links %}
  <li><a href="/accessibility">Accessibility</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/copyright">Copyright</a></li>
  <li><a href="http://www.services.nsw.gov.au/ict/">ICT Strategy</a></li>
  {% endblock %}
</ul>
<ul class="unstyled">
  {% block footer_links_ckan %}
  <li><a href="/privacy">Privacy</a></li>
  <li><a href="http://www.jobs.nsw.gov.au/">Jobs.NSW</a></li>
  <li><a href="http://www.okfn.org/services">{{ _('Open Knowledge Foundation') }}</a></li>
  <li><a href="http://www.opendefinition.org/okd/"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"></a></li>
  {% endblock %}
</ul>
{% endblock %}
