{% ckan_extends %}
{% block header_account %}
  <header class="account-masthead">
  <div class="container">
       {% if c.userobj %}
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
          <ul class="unstyled">
            {% block header_account_logged %}
            {% if c.userobj.sysadmin %}
              <li>
                <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                  <i class="icon-legal"></i>
                </a>
              </li>
            {% endif %}
            <li>
              <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                <span class="username">{{ c.userobj.display_name }}</span>
              </a>
            </li>
            <li class="notifications {% if c.new_activities > 0 %}notifications-important{% endif %}">
              {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', c.new_activities) %}
              <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                <i class="icon-dashboard"></i>
                <span>{{ c.new_activities }}</span>
              </a>
            </li>
            <li>
              <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                <i class="icon-cog"></i>
              </a>
            </li>
            <li>
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                <i class="icon-signout"></i>
              </a>
            </li>
            {% endblock %}
          </ul>
        </div>
      {% else %}
        <nav class="account not-authed">
          <ul class="unstyled">
            {% block header_account_notlogged %}
            <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
            <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
            {% endblock %}
          </ul>
        </nav>
      {% endif %}
      <nav class="account">
          <ul class="unstyled">
            {{ h.build_nav_main(
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations')),
              ('group_index', _('Groups')),
              ('about', _('About'))
            ) }}
            </ul>
        </nav>
    </div>
  </header>
{% endblock %}
{% block header_logo %}
  <a class="logo" href="/"><img src="{{ h.url_for_static('/images/logo.png') }}" alt="{{ g.site_title }}" /></a>
{% endblock %}
{% block header_site_navigation_tabs %}
<li><a href="/data">Data</a></li>
<li><a href="/apps4nsw">apps4nsw</a></li>
<li><a href="http://opengov.nsw.gov.au/">OpenGov</a></li>
<li><a href="http://www.sdi.nsw.gov.au/GPT9/catalog/main/home.page">Spatial</a></li>
<li><a href="/faq">FAQs</a></li>
<li><a href="/links">Links</a></li>
<li><a href="/information-and-archive">Archive</a></li>
{% endblock %}
