{% ckan_extends %}
{% block header_logo %}
  <a class="logo" href="/"><img src="{{ h.url_for_static('/images/logo.png') }}" alt="{{ g.site_title }}" /></a>
{% endblock %}
{% block header_site_navigation_tabs %}
<li><a href="/data">Data</a></li>
<li><a href="/apps4nsw">apps4nsw</a></li>
<li><a href="http://opengov.nsw.gov.au/">OpenGov</a></li>
<li><a href="http://www.sdi.nsw.gov.au/GPT9/catalog/main/home.page">Spatial</a></li>
<li><a href="/FAQs">FAQs</a></li>
<li><a href="/links">Links</a></li>
<li><a href="/information-and-archive">Information & Archive</a></li>
{% endblock %}
